@import "../../scss/varieables";
$ruler: 16px;
$color-green: #22ae00;
$color-blue: #0057ff;
$color-bg: #212121;
$color-shadow: #000000;
$color-dark: #262626;
$color-white: #FFF;
$color-shadow-white: #BABECC;
$color-bg-white: #EBECF0;

.content-user-parameters {
  background-color:$color-bg;

  & p, & input, & select, & textarea, & button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: $ruler;
  }

  & div, & p {
    color: $color-shadow;
    text-shadow: 1px 1px 1px $color-dark;
  }

  & form {
    padding: $ruler;
    width: $ruler*20;
    margin: 0 auto;
  }

  & .segment {
    padding: $ruler*2 0;
    text-align: center;
  }

  & button, & input {
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: $ruler*20;
    padding: $ruler;
    background-color:$color-bg;
    text-shadow: 1px 1px 0 $color-dark;
  }

  & label {
     display: block;
     margin-bottom: $ruler*1.5;
     width: 100%;
   }

  & input {
    margin-right: $ruler/2;
    box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-dark;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
      box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-dark;
    }
  }

  & button, & .icon-user-avatar {
    color:#61677C;
    box-shadow: -5px -5px 20px $color-dark,  5px 5px 20px $color-shadow;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      box-shadow: -2px -2px 5px $color-dark, 2px 2px 5px $color-shadow;
    }

    &:active {
      box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-dark;
    }

    .icon {
      margin-right: $ruler/2;
    }

    &.unit {
      border-radius: $ruler/2;
      line-height: 0;
      width: $ruler*3;
      height: $ruler*3;
      display:inline-flex;
      justify-content: center;
      align-items:center;
      margin: 0 $ruler/2;
      font-size: $ruler*1.2;

      .icon {
        margin-right: 0;
      }
    }

    &.edit-btn {
      display: block;
      width: 100%;
      font-size: 19px;
      @include flexCenter;

      & .icon {
        margin-bottom: 2px;
      }
    }

    &.edit-btn.blue {
      color: $color-blue;
    }

    &.edit-btn.green {
      color: $color-green;
    }
  }

  & .input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    label {
      margin: 0;
      flex: 1;
    }
  }

  & .blue-color {
    input {
      color: $color-blue;
    }
  }

  & .green-color {
    input {
      color: $color-green;
    }
  }

  & .input-title {
    margin-bottom: 10px;
    margin-left: 23px;
    color: #000000;
    text-shadow: 1px 1px 1px #262626;
    font-weight: 600;
  }

  & .segment.segment-sex {
    padding-top: 0;
  }

  & .input-title.input-sex {
    display: inline;
  }

  & .icon-male-sex {
    width: 15px;
    overflow: hidden;
    margin-left: -6px;

    & svg {
      font-size: 30px;
    }

    &.active svg {
       color: $color-green;
     }
  }

  & .icon-female-sex {
    width: 15px;
    overflow: hidden;
    margin-left: -6px;

    & svg {
      font-size: 30px;
      transform: rotateY(180deg);
    }

    &.active svg {
      color: $color-green;
    }
  }

  & .content-user-avatar {
    text-align: center;

    & img {
      width: 150px;
      height: 150px;
      border: 5px solid black;
      border-radius: 50%;
    }
  }

  & .main-segment {
    padding-bottom: 0;
  }

  & label.unit.icon-user-avatar {
    width: 100px;
    margin-bottom: 25px;

    & svg {
      color: $color-green;
    }

    & .file-input {
      display: none;
    }
  }

  & .user-error-input-message {
    margin-left: 23px;
    color: #000000;
    text-shadow: 1px 1px 1px #AE1100;
    font-weight: 600;
    display: inline-block;
    margin-top: 5px;
    text-decoration: underline;
  }

  & .date-format-type {
    color: $mainColor;
    float: right;
    margin-right: 40px;
  }

  & .segment.company-segment {
    padding: 0 0 15px 0;

    & .input-company-prev, & .input-company-next {
      display: inline;
      color: #000000;
      text-shadow: 1px 1px 1px #262626;
      font-weight: 600;
      margin: 0 14px;
    }
    & button {
      & svg {
        color: $color-green;
      }
      &:hover {
        & svg {
          color: $color-blue;
        }
      }
    }
  }

  & .sex-active {
    color: $mainColor;
  }

  & .edit-cancel {
    & svg {
      color: red;
    }
  }

  & .user-update-loader {
    margin: 0 10px;
  }

  &.white {
    background-color:$color-bg-white;
    & button, & input {
      background-color: $color-bg-white;
      text-shadow: 1px 1px 0 $color-white;
    }
    & div, & p {
      color: $color-shadow-white;
      text-shadow: 1px 1px 1px $color-white;
    }


    & button, & .icon-user-avatar {
      color: red;
      box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow-white;

      &:hover {
        box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow-white;
      }

      &:active {
        box-shadow: inset 1px 1px 2px $color-shadow-white, inset -1px -1px 2px $color-white;
      }
    }

    & .blue-color {
      input {
        color: #4b4b4b;
      }
    }
  }


  &.white input {
    box-shadow:  inset 2px 2px 5px $color-shadow-white, inset -5px -5px 10px $color-white;

    &:focus {
      box-shadow:  inset 1px 1px 2px $color-shadow-white, inset -1px -1px 2px $color-white;
    }
  }
}