@import "../../scss/varieables";
/* Copyright part */
p.copyright-container {
  color: white;
  font-size: 14px;
  margin-bottom: 55px;

   & a {
     color: $mainColor;
     transition: color 600ms ease;
     text-decoration: none;

     &:hover {
       text-decoration: none;
       color: #afaeae;
     }
   }
}